<div class="row" ng-controller="TripsController">
    <h3 class="text-center">Latest trips</h3>
    <table class="table table-bordered table-striped text-center">
        <tr class="text-center">
            <th class="text-center">Driver name</th>
            <th class="text-center">From</th>
            <th class="text-center">To</th>
            <th class="text-center">Departure Date</th>
        </tr>
        <tr ng-repeat="trip in trips">
            <td>{{trip.driverName}}</td>
            <td>{{trip.from}}</td>
            <td>{{trip.to}}</td>
            <td>{{trip.departureDate |dateFilter}}</td>
        </tr>
    </table>
</div>